@font-face {
    font-family: Ubuntu Sans;
    src: url("https://fonts.googleapis.com/css?family=Ubuntu Sans");
}
* {
    font-family: Ubuntu Sans, monospace;
}

h1 {
    color: #FFFFFF;
    font-size: 3rem;
    text-shadow: 0.1rem 0.1rem 0.3rem #04254E;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.5rem;
}

ul {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

.jumbotron {
    background-color: #CFCFCF;
}

.lead {
    color: #04254E;
}

.subtext {
    color: #9C9C9C;
}

.ul_icon {
    height: auto;
    width: 1rem;
}