@font-face {
    font-family: Ubuntu Sans;
    src: url("https://fonts.googleapis.com/css?family=Ubuntu Sans");
}
* {
    font-family: Ubuntu Sans, monospace;
}

h1 {
    color: #FFFFFF;
    font-size: 3rem;
    text-shadow: 0.1rem 0.1rem 0.3rem #04254e;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    text-indent: 1.5rem;
}

img {
    display: block;
}

ul {
    font-size: 1rem;
}

p {
    font-size: 1rem;
}

.jumbotron {
    background-color: #CFCFCF;
    text-align: center;
    padding: 0.5rem;
}

.lead {
    color: #04254e;
}

.footer {
    align-items: bottom;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5rem;
    position: fixed;
}

.subtext {
    color: #CFCFCF;
}