:root {
    --cobalt-blue: #0954AE;
    --dark-blue: #04254E;
    --light-blue: #8BBCF9;
    --really-light-blue: #DAEBFF;
    --bright-copper: #F34616;
    --light-copper: #FBC1B1;
}
a {
    color: var(--cobalt-blue);
    font-family: Dosis;
    font-size: 1.1rem;
}
a.anchor {
    display: block;
    position: relative;
    top: -4.5rem;
    visibility: hidden;
}
a.dropdown-item {
    transition: 0.2s;
}
body {
    color: var(--dark-blue);
    background-color: var(--really-light-blue);
    font-family: Dosis;
    --bs-tertiary-bg: var(--really-light-blue);
}
b.b1 {
    color: var(--cobalt-blue);
}
h1 {
    color: #FFFFFF;
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    margin: 0;
    text-shadow: 0.1rem 0.1rem 0.3rem var(--dark-blue);
}
h1.jumbo {
    font-size: 4rem;
}
h1.cellh {
    color: var(--cobalt-blue);
    font-size: 1.5rem;
    text-shadow: 0.1rem 0.1rem 0.1rem var(--light-blue);
}
h1.cellrank {
    color: var(--light-blue);
    margin-right: 0.5rem;
    text-shadow: 0.1rem 0.1rem 0.1rem var(--dark-blue);
}
p {
    font-size: 1.1rem;
}
ul {
    font-family: Dosis;
    font-size: 1.3rem;
}
.cellh h1 {
    font-size: 1.5rem;
    display: inline;
    text-align: center;
}
.btn {
    /* ALL buttons */
    font-family: Dosis;
    font-size: 1.1rem;
    border-color: #FFFFFF;

    /* INDEX buttons */
    background-color: var(--light-blue); /* index background color */
    
    --bs-btn-hover-border-color: transparent; /* all but radio hover border color */
    --bs-btn-hover-bg: var(--light-copper); /* a hover background */
}
.btn-primary {
    /* RADIO & PAGE buttons */
    background-color: var(--really-light-blue); /* both background color */
    --bs-btn-active-border-color: transparent; /* both border color */
    --bs-btn-active-color: #FFFFFF; /* both text color */
    --bs-btn-active-bg: var(--bright-copper); /* both background color */

    /* RADIO buttons */
    --bs-btn-color: var(--dark-blue); /* radio text color */
    --bs-btn-bg: var(--light-copper); /* radio hover background */
    --bs-btn-border-color: transparent; /* radio border color */

    /* PAGE buttons */
    --bs-btn-hover-color: var(--dark-blue); /* a hover text color */
}
.btn.disabled {
    background-color: var(--light-blue);
}
.cell {
    padding: 1rem;
    border-radius: 0.5rem 2rem;
    background-color: #FFFFFF;
}
.centered {
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}
.image-container {
    height: 10rem;
    border-radius: 0.5rem 2rem;
    overflow: hidden;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.img-fluid {
    max-height: 25rem;
    width: auto;
}
.jumbotron {
    background-color: var(--light-blue);
    margin: 0;
    padding-bottom: 0px;
}
.navbar {
    min-height: 4rem;
    background-color: #FFFFFF;
    border-bottom: 2px solid var(--light-blue);
    padding: 0;
    --bs-navbar-hover-color: var(--light-blue);
    --bs-navbar-active-color: var(--cobalt-blue);
}
.navbar-brand {
    color: #FFFFFF;
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    margin-right: 1rem;
    text-shadow: 0.1rem 0.1rem 0.3rem var(--dark-blue);
    transition: 0.2s;
}
.navbar-brand:hover {
    color: var(--dark-blue);
}
.row {
    margin: 0 auto;
}
#songCell {
    max-width: 50rem;
    border-radius: 0.5rem 2rem;
    background-color: #FFFFFF;
    padding: 0;
}
#songIndex {
    object-position: center;
}
#producerCell {
    max-width: 50rem;
    border-radius: 0.5rem 2rem;
    background-color: #FFFFFF;
    padding: 0;
}
#producerIndex {
    object-position: center;
}
[data-bs-theme="blue"] {
    body {
        color: #FFFFFF;
        background-color: #04254E;

        --bs-body-color: #04254E;
        --bs-tertiary-bg: #04254E;
    }
    h1 {
        text-shadow: 0.1rem 0.1rem 0.3rem #8BBCF9;
    }
    b {
        color: #8BBCF9;
    }
    .title h1,
    .title h2  {
        color: #FFFFFF;
    }
    .title h2 {
        text-shadow: 0.1rem 0.1rem 0.3rem #021327;
    }
    .cell {
        background-color: #063A74;
    }
    .dropdown-menu {
        --bs-dropdown-bg: #063A74;
    }
    .jumbotron {
        background-color: #021327;
    }
    .navbar {
        --bs-navbar-color: #FFFFFF;
        --bs-navbar-active-color: #8BBCF9;
        background-color: #063A74;
        border-bottom: 2px solid #021327;
    }
    .nav-link {
        color: #FFFFFF;
    }
    .navbar-brand {
        color: #FFFFFF;
        text-shadow: 0.1rem 0.1rem 0.3rem #8BBCF9;
    }
    .navbar-brand:hover {
        color: #8BBCF9;
    }
    #songCell {
        background-color: #063A74;
    }
    #producerCell {
        background-color: #063A74;
    }
}