:root {
    --cobalt-blue: #0954AE;
    --medium-blue: #063A74;
    --dark-blue: #04254E;
    --really-dark-blue: #021327;;
    --light-blue: #8BBCF9;
    --really-light-blue: #DAEBFF;
    --bright-copper: #F34616;
    --light-copper: #FBC1B1;
}
a {
    color: var(--cobalt-blue);
    font-family: Dosis;
    font-size: 1.1rem;
}
a.anchor {
    display: block;
    position: relative;
    top: -4.5rem;
    visibility: hidden;
}
a.dropdown-item {
    transition: 0.2s;
}
body {
    color: var(--dark-blue);
    background-color: var(--really-light-blue);
    font-family: Dosis;
    --bs-tertiary-bg: var(--really-light-blue);
}
b.b1 {
    color: var(--cobalt-blue);
}
h1 {
    color: #FFFFFF;
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    margin: 0;
    text-shadow: 0.1rem 0.1rem 0.3rem var(--dark-blue);
}
h1.cellh {
    color: var(--cobalt-blue);
    font-size: 1.5rem;
    text-shadow: 0.1rem 0.1rem 0.1rem var(--light-blue);
}
h1.cellrank {
    color: var(--light-blue);
    margin-right: 0.5rem;
    text-shadow: 0.1rem 0.1rem 0.1rem var(--dark-blue);
}
h1.hero-head {
    font-size: 3.5rem;
    padding-bottom: 1rem;
}
p {
    font-size: 1.1rem;
}
ul {
    font-family: Dosis;
    font-size: 1.3rem;
}
.cellh h1 {
    font-size: 1.5rem;
    display: inline;
    text-align: center;
}
.container {
    display: flex;
}
.btn-voca {
    color: var(--cobalt-blue);
    background-color: #FFFFFF;
    border-color: var(--dark-blue);
    --bs-btn-active-bg: var(--bright-copper);
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-color: #FFFFFF;
    --bs-btn-bg: var(--light-copper);
}
.btn-voca-index {
    color: var(--cobalt-blue);
    background-color: var(--really-light-blue);
    padding: 0;
    --bs-btn-hover-bg: var(--light-copper);
}
.btn-voca:hover {
    color: var(--dark-blue);
    background-color: var(--light-copper);
}
.btn.disabled {
    background-color: var(--light-blue);
}
.cell {
    padding: 1rem;
    border-radius: 0.5rem 2rem;
    background-color: #FFFFFF;
}
.centered {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.image-container {
    height: 10rem;
    border-radius: 0.5rem 2rem;
    overflow: hidden;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.img-fluid {
    max-height: 25rem;
    width: auto;
}
.hero-background {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1.5rem 0;
    height: 20rem;

    background-image: url('../../assets/doro.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-card {
    background-color: rgba(139, 188, 249, 0.45);
    backdrop-filter: blur(6px) saturate(102%);
    -webkit-backdrop-filter: blur(6px) saturate(102%);

    text-align: center;

    padding: 0.5rem;
    margin: auto;

    width: 100%;

    border: rgba(139, 188, 249, 0.45);
    border-radius: 0;
}
.hero-btn {
    padding-bottom: 1rem;
}
.navbar {
    min-height: 4rem;
    background-color: #FFFFFF;
    border-bottom: 2px solid var(--light-blue);
    padding: 0;
    --bs-navbar-hover-color: var(--light-blue);
    --bs-navbar-active-color: var(--cobalt-blue);
}
.navbar-brand {
    color: #FFFFFF;
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    margin-right: 1rem;
    text-shadow: 0.1rem 0.1rem 0.3rem var(--dark-blue);
    transition: 0.2s;
}
.navbar-brand:hover {
    color: var(--dark-blue);
}
.range-voca {
    --form-range-track-width: 100%;
}
.row {
    margin: 0 auto;
}
#songCell {
    max-width: 50rem;
    border-radius: 0.5rem 2rem;
    background-color: #FFFFFF;
    padding: 0;
}
#songIndex {
    object-position: center;
}
#producerCell {
    max-width: 50rem;
    border-radius: 0.5rem 2rem;
    background-color: #FFFFFF;
    padding: 0;
}
#producerIndex {
    object-position: center;
}
@media (min-width: 992px) {
    h1.hero-head {
        font-size: 4rem;
        padding: 0 5rem 1rem 5rem;
    }
    .hero-background {
        padding: 1.5rem 0;
    }
    .hero-card {
        padding: 1.5rem;
        border-radius: 2rem;

        max-width: fit-content;
    }
}
[data-bs-theme="voca-dark"] {
    body {
        color: #FFFFFF;
        background-color: var(--dark-blue);

        --bs-body-color: #FFFFFF;
        --bs-tertiary-bg: var(--dark-blue);
    }
    h1 {
        text-shadow: 0.1rem 0.1rem 0.3rem var(--light-blue);
    }
    b {
        color: var(--light-blue);
    }
    .btn-voca-index {
        color: var(--light-blue);
        background-color: var(--dark-blue);
    }
    .btn-voca-index:hover {
        color: var(--dark-blue);
        background-color: var(--light-copper) !important;
    }
    .cell {
        background-color: var(--medium-blue);
    }
    .dropdown-menu {
        --bs-dropdown-bg: var(--medium-blue);
    }
    .hero-background {
        background-image: url('../../assets/minecraftcat.png');
    }
    .navbar {
        --bs-navbar-color: #FFFFFF;
        --bs-navbar-active-color: var(--light-blue);
        background-color: var(--medium-blue);
        border-bottom: 2px solid var(--really-dark-blue);
    }
    .nav-link {
        color: #FFFFFF;
    }
    .navbar-brand {
        color: #FFFFFF;
        text-shadow: 0.1rem 0.1rem 0.3rem var(--light-blue);
    }
    .navbar-brand:hover {
        color: var(--light-blue);
    }
    .navbar-toggler {
        border-color: #FFFFFF; /* Or use your custom color */
    }
    .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    #songCell {
        background-color: var(--medium-blue);
    }
    #producerCell {
        background-color: var(--medium-blue);
    }
}