body {
    color: #04254E;
    background-color: #DAEBFF;
    
    --bs-tertiary-bg: #DAEBFF;
}
b {
    color: #0954AE;
}
h1 {
    color: #FFFFFF;
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    margin: 0;
    text-shadow: 0.1rem 0.1rem 0.3rem #04254E;
}
h2 {
    font-family: Dosis;
}
.title h1,
.title h2 {
    color: #0954AE;
    display: inline;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.1rem #8BBCF9;
}
.title h1 {
    margin-right: 0.5rem;
}
.btn {
    /* ALL buttons */
    font-family: Dosis;
    font-size: 1.1rem;
    border-color: #FFFFFF;

    /* INDEX buttons */
    background-color: #8BBCF9; /* index background color */
    
    --bs-btn-hover-border-color: transparent; /* all but radio hover border color */
    --bs-btn-hover-bg: #FBC1B1; /* a hover background */
}
.btn-primary {
    /* RADIO & PAGE buttons */
    background-color: #DAEBFF; /* both background color */
    --bs-btn-active-border-color: transparent; /* both border color */
    --bs-btn-active-color: #FFFFFF; /* both text color */
    --bs-btn-active-bg: #F34616; /* both background color */

    /* RADIO buttons */
    --bs-btn-color: #04254E; /* radio text color */
    --bs-btn-bg: #FBC1B1; /* radio hover background */
    --bs-btn-border-color: transparent; /* radio border color */

    /* PAGE buttons */
    --bs-btn-hover-color: #04254E; /* a hover text color */
}
.btn.disabled {
    background-color: #7fa8dd;
}
.cell {
    padding: 1rem;
    border-radius: 0.5rem 2rem;
    background-color: #FFFFFF;
}
.image-container {
    height: 10rem;
    border-radius: 0.5rem 2rem;
    overflow: hidden;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.jumbotron {
    background-color: #8BBCF9;
    margin: 0;
    padding-bottom: 0px;
}
.navbar {
    min-height: 4rem;
    background-color: #FFFFFF;
    border-bottom: 2px solid #8BBCF9;
    padding: 0;
}
.navbar-brand {
    color: #FFFFFF;
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    margin-right: 1rem;
    text-shadow: 0.1rem 0.1rem 0.3rem #04254E;
    transition: 0.2s;
}
.navbar-brand:hover {
    color: #04254E;
}
#songCell {
    max-width: 50rem;
    border-radius: 0.5rem 2rem;
    background-color: #FFFFFF;
    padding: 0;
}
#producerCell {
    max-width: 50rem;
    border-radius: 0.5rem 2rem;
    background-color: #FFFFFF;
    padding: 0;
}
#songIndex {
    object-position: center;
}
#producerIndex {
    object-position: center;
}
[data-bs-theme="blue"] {
    body {
        color: #FFFFFF;
        background-color: #04254E;

        --bs-body-color: #8BBCF9;
        --bs-tertiary-bg: #04254E;
    }
    h1 {
        text-shadow: 0.1rem 0.1rem 0.3rem #8BBCF9;
    }
    b {
        color: #8BBCF9;
    }
    .cell {
        background-color: #063A74;
    }
    .dropdown-menu {
        --bs-dropdown-bg: #063A74;
    }
    .jumbotron {
        background-color: #021327;
    }
    .navbar {
        --bs-navbar-color: #FFFFFF;
        --bs-navbar-active-color: #8BBCF9;
        background-color: #063A74;
        border-bottom: 2px solid #021327;
    }
    .nav-link {
        color: #FFFFFF;
    }
    .navbar-brand {
        color: #FFFFFF;
        text-shadow: 0.1rem 0.1rem 0.3rem #8BBCF9;
    }
    .navbar-brand:hover {
        color: #8BBCF9;
    }
    #songCell {
        background-color: #063A74;
    }
    #producerCell {
        background-color: #063A74;
    }
}