body {
    color: #04254E;
    background-color: #DAEBFF;
}
b {
    color: #0954AE;
}
h1 {
    color: #FFFFFF;
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    margin: 0;
    text-shadow: 0.1rem 0.1rem 0.3rem #04254E;
}
.btn {
    font-family: Dosis;
    font-size: 1.1rem;

    background-color: #8BBCF9; /* Inactive background color */
    border-color: #8BBCF9;/* Inactive border color */
    --bs-btn-active-border-color: transparent; /* Active border color */
    --bs-btn-hover-border-color: transparent;

    --bs-btn-active-color: #FFFFFF; /* Active text color */
    --bs-btn-active-bg: #F34616; /* Active background color */
    
    --bs-btn-color: #04254E; /* Button text color */
    --bs-btn-hover-color: #04254E; /* Hover text color */

    /* Hover background color */
    --bs-btn-bg: #FBC1B1;
    --bs-btn-hover-bg: #FBC1B1;
}
.btn-primary {
    background-color: #FFFFFF; /* Inactive background color */
}
.cell {
    padding: 1rem;
    border-radius: 0.5rem 2rem;
    background-color: #FFFFFF;
}
.image-container {
    height: 10rem;
    border-radius: 0.5rem 2rem;
    overflow: hidden;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.jumbotron {
    background-color: #8BBCF9;
    margin: 0;
    padding-bottom: 0px;
}
.navbar {
    min-height: 4rem;
    background-color: #FFFFFF;
    border-bottom: 2px solid #8BBCF9;
    padding: 0;
}
.navbar-brand {
    color: #FFFFFF;
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    margin-right: 1rem;
    text-shadow: 0.1rem 0.1rem 0.3rem #04254E;
    transition: 0.2s;
}
.navbar-brand:hover {
    color: #04254E;
}
#songCell {
    max-width: 50rem;
    border-radius: 0.5rem 2rem;
    background-color: #FFFFFF;
    padding: 0;
}
#producerCell {
    max-width: 50rem;
    border-radius: 0.5rem 2rem;
    background-color: #FFFFFF;
    padding: 0;
}
#songIndex {
    object-position: center;
}
#producerIndex {
    object-position: center;
}
[data-bs-theme="blue"] {
    body {
        color: #FFFFFF;
        background-color: #04254E;
    }
    h1 {
        text-shadow: 0.1rem 0.1rem 0.3rem #8BBCF9;
    }
    b {
        color: #8BBCF9;
    }
    .btn {
        --bs-btn-active-color: #FFFFFF; /* Active text color */
        --bs-btn-active-bg: #F34616; /* Active background color */
        
        --bs-btn-color: #04254E; /* Button text color */
        --bs-btn-hover-color: #04254E; /* Hover text color */

        /* Hover background color */
        --bs-btn-bg: #FBC1B1;
        --bs-btn-hover-bg: #FBC1B1;
    }
    .cell {
        background-color: #063A74;
    }
    .jumbotron {
        background-color: #021327;
    }
    .navbar {
        --bs-navbar-color: #FFFFFF;
        background-color: #063A74;
        border-bottom: 2px solid #021327;
    }
    .nav-link {
        color: #FFFFFF;
    }
    .navbar-brand {
        color: #FFFFFF;
        text-shadow: 0.1rem 0.1rem 0.3rem #8BBCF9;
    }
    .navbar-brand:hover {
        color: #8BBCF9;
    }
    #songCell {
        background-color: #063A74;
    }
    #producerCell {
        background-color: #063A74;
    }
}